.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.816406;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.740234;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.759277;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.764160;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(5,99,193);}
.fc0{color:rgb(255,255,255);}
.fs2{font-size:56.000000px;}
.fs4{font-size:64.000000px;}
.fs1{font-size:72.000000px;}
.fs3{font-size:80.000000px;}
.fs0{font-size:176.000000px;}
.y0{bottom:0.000000px;}
.y5{bottom:124.442610px;}
.y6{bottom:211.497541px;}
.y4{bottom:257.259455px;}
.y3{bottom:315.261438px;}
.y2{bottom:383.927768px;}
.y1{bottom:409.541130px;}
.h3{height:40.769531px;}
.h5{height:42.000000px;}
.h6{height:43.531250px;}
.h2{height:47.988281px;}
.h4{height:59.296875px;}
.h1{height:117.304688px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x1{left:227.970520px;}
.x6{left:229.714554px;}
.x3{left:267.669113px;}
.x2{left:298.604271px;}
.x4{left:311.687523px;}
.x5{left:415.479370px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:74.666667pt;}
.fs4{font-size:85.333333pt;}
.fs1{font-size:96.000000pt;}
.fs3{font-size:106.666667pt;}
.fs0{font-size:234.666667pt;}
.y0{bottom:0.000000pt;}
.y5{bottom:165.923480pt;}
.y6{bottom:281.996722pt;}
.y4{bottom:343.012606pt;}
.y3{bottom:420.348584pt;}
.y2{bottom:511.903690pt;}
.y1{bottom:546.054840pt;}
.h3{height:54.359375pt;}
.h5{height:56.000000pt;}
.h6{height:58.041667pt;}
.h2{height:63.984375pt;}
.h4{height:79.062500pt;}
.h1{height:156.406250pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x1{left:303.960693pt;}
.x6{left:306.286072pt;}
.x3{left:356.892151pt;}
.x2{left:398.139028pt;}
.x4{left:415.583364pt;}
.x5{left:553.972493pt;}
}
